<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by was built by <a target="_blank" href="https://github.com/leog7one"> Leonardo Guzman</a> . A Web Developer dedicated to bringing functional Web Applications and Sites to life.
    <br />
    <div class="col-xs-12 col-sm-4" style="padding-top:30px;">
      <%= image_tag 'self.jpg', class: 'img-responsive' %>
    </div>
    <br class="clear"/>
    <p>
      A Technical Professional with a background in Web Development, Network Administration and Education.
    </p>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />