@font-face {
    font-family: 'sinkin_sans400_regular';
    src: url('/assets/sinkinsans-400regular-webfont.woff2') format('woff2'),
         url('/assets/sinkinsans-400regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}